<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-static-top word">

  <%= link_to pictures_path do %>
    <%= image_tag 'cityscape.png', width: 30, height: 30, alt: 'architecture'%>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto font-italic font-weight-bold">
      <li class="nav-item active">
        <%= link_to "Architecture", pictures_path, :class => "nav-link" %>
      </li>
    </ul>
    
    <ul class="navbar-nav mr-0 font-weight-light">
      <li class="nav-item">
        <%= link_to "首頁", pictures_path, :class => "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "文章瀏覽", article_index_path, :class => "nav-link" %>
      </li>
      <% if user_signed_in? %>
        <% current_user.email %>
        <li class="nav-item">
          <%= link_to "新增文章", new_picture_path, :class => "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to '登出', destroy_user_session_path, method: :delete, :class => "nav-link", :class => "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to '登入', new_user_session_path, :class => "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to '註冊', new_user_registration_path, :class => "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
<body>
