<!--<div class="test3"><%= image_tag("planet3.png", size: "837x630")%></div>-->

<div >
  <div id="carouselExampleIndicators" class="carousel slide w-75 img " data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
         <%= link_to image_tag("home.JPG", class: "d-block w-100 ") %> 
      </div>
      <div class="carousel-item">
        <!--<%= image_tag("road.JPG") %>-->
        <%= link_to image_tag("light.JPG", class: " d-block w-100") %> 
      </div>
      <div class="carousel-item">
        <%= link_to image_tag("road.JPG", class: "d-block w-100") %> 
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>