<h1 class="mb-3"><%= @picture.title %></h1>

    <div class="card w-75 img">
      <h5 class="card-header"><%= @picture.title %></h5>
      <div class="card-body">
        <h5 class="card-title"><%= @picture.title %></h5>
        <h6 class="card-text"><%= @picture.name %></h6>
        <hr />
        <p class="card-text"><%= @picture.content %></p>
        <button type="button" class="btn btn-outline-danger float-right"><%= link_to "刪除", picture_path(@picture), method: "delete", data: { confirm: "確認刪除" } %></button>
        <button type="button" class="btn btn-outline-info float-right mx-2"><%= link_to "編輯", edit_picture_path(@picture) %></button>
        <button type="button" class="btn btn-outline-dark float-right"><%= link_to "回文章瀏覽", article_index_path %></button>
        <!--<a href="#" class="btn btn-primary float-right">show</a>-->
        
      </div>
    </div>
